<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>page_two</title>
</head>

<body>
  <div class="container">
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="photo-info-one">
        <img class="photo" src="assets/images/photo1.jpg" />
        <div class="structure">
          <div class="texts">
            <p class="text">Massa:</p>
            <p class="text">Recheio:</p>
          </div>

          <div class="inputs-up">
            <div formGroupName="massas">
                
            <label>Chocolate
              <input type="checkbox" class="form-control" formControlName="chocolate">
            </label>

            <label>Prestigio
              <input type="checkbox"  formControlName="prestigio" class="form-control" name="prestigio">
            </label>
            </div>

            <div formGroupName="recheios">
            <label>Musse de Maracuja
              <input type="checkbox" class="form-control"  formControlName="musseMaracuja">
            </label>
          </div>
          </div>

          <div class="inputs-low">

            <div formGroupName="massas">
            <label>Baunilha
              <input type="checkbox" class="form-control" formControlName="baunilha">
            </label>

            <label>Brigadeiro
              <input type="checkbox" class="form-control"  formControlName="brigadeiro">
            </label>
            </div>

            <div formGroupName="recheios">
            <label>Musse de Morango
              <input type="checkbox" class="form-control" formControlName="musseMorango">
            </label>
            </div>
          </div>
        </div>
      </div>

      <div class="photo-info-two">
        <img class="photo" src="assets/images/photo2.jpg" />
        <div class="structure">
          <div class="texts">
            <p class="text">Docinhos:</p>
          </div>


          <div class="inputs-up" formGroupName="doces">
            <label>Cajuzinho
              <input type="checkbox" class="form-control"  formControlName="cajuzinho">
            </label>

            <label>Brigadeiro
              <input type="checkbox" class="form-control"  formControlName="brigadeiro">
            </label>

            <label>Beijinho
              <input type="checkbox" class="form-control"  formControlName="beijinho">
            </label>
          </div>
        </div>
      </div>




      <div class="photo-info-three">
        <img class="photo" src="assets/images/photo3.png" />
        <div class="structure">
          <div class="texts">
            <p class="text">Temas:</p>
          </div>

          <div formGroupName="temas">
          <div class="inputs-up">
            <label>Princesas
              <input type="checkbox" class="form-control"  formControlName="princesas">
            </label>

            <label>Animais
              <input type="checkbox" class="form-control"  formControlName="animais">
            </label>

            <label>Super Herois
              <input type="checkbox" class="form-control"  formControlName="superHerois">
            </label>
          </div>

          <div class="inputs-low">

            <label>Carros
              <input type="checkbox" class="form-control"  formControlName="carros">
            </label>

            <label>Times
              <input type="checkbox" class="form-control"  formControlName="times">
            </label>

            <label>Dinossauros
              <input type="checkbox" class="form-control"  formControlName="dinossauros">
            </label>
          </div>
        </div>
        </div>
      </div>

      <div class="contatos">
        <label for="contatos">Rede Social</label>
        <input type="text" id="contatos" name="contatos" placeholder="Facebook, Instagram, etc">
      </div>
  
  
      <!--Campo para digitar telefone-->


      <!-- <button type="submit" class="btn btn-primary">Enviar</button> -->
      <div class="button-finish-back">
        <a class="button-back" src="" routerLink="/home">Voltar</a>
        <a class="button-finish" (click)="onSubmit()">Cadastrar Dados</a>
      </div>
      <button type="button" class="btn btn-primary" (click)="deletaDados()">Deletar Dados</button>
    </form>
    <!-- Campo para contatos (facebook, instagram, etc) e telefone-->
    <footer></footer>
  </div>





  <!--Campo para digitar CEP-->



  <!--Campo para digitar Endereço-->

</body>

</html>