@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap');
*{
  padding:0px;
  margin:0px;
}

body{
    background-color: #f7bda2;
}

.info{
    width: 1194px;
    height: 171px;
    background-color:#eb5e1d;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
}

.photo-info{
  height: 125px;
  border-radius:100px ;
  padding:20px;
  margin-left: 50px;
}

.photo-info-pr{
    display: flex;
}

.pr{
    font-family:'Ingrid Darling', cursive; 
    color:aliceblue;
    font-size: 50px;
    margin: auto;
    margin-left: 30px;
}

.radio_user{
    display:flex;
    gap:50px;
    margin: auto;
    justify-content: space-around;
}

label{
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
}

form{
   display: block;
   padding-top: 20px;
   padding-left: 95px;
}

.form-input{
    display: flex;
    justify-content:flex-start;
    gap: 30px;
    padding-top: 20px;
}
.inputs{
    display: block;
    padding: 9px;
    border:none;
    background-color: #f7bda2;
    border-bottom:1px solid black;
    outline: none;
    font-size: 17px;
}

#senha,#email,#name{
    width:1060px;
}
#telefone{
    width:1040px;
}
#endereco{
   width:1030px ;
}
#senha-conf{
    width: 965px;
}

.buttons{
   display: flex;
   justify-content: center;
   gap:10px;
   margin: auto;
   padding-top:30px;
   height: 60px;
}

button{
    border-radius: 50px;
    border: none;
    width: 200px;
    background-color: #eb5e1d;
    font-family:'Ingrid Darling', cursive; 
    font-size: 30px;
    cursor: pointer;
}

button:hover{
  background-color: red;
  color: white;
}

