<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/assets/css/login.css"/> -->
    <title>login</title>
</head>
<body>
    <section> 
       <div class="login"> 
         <h1 class="text">Login</h1>
          <div class="inputs"> 
 
            <input type="email" name="email" id="email" placeholder="Nome:">
         
            <input type="password" name="senha" id="senha" placeholder="Senha:">
      
           </div>
           <div class="btn"> 
             <button>Acessar</button>
             <button (click)="irParaTelaCadastro()">Cadastre-se</button>
            </div>
            <!-- <div class="btn">
                
            </div> -->
        </div>
   </section>
</body>
</html>