<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>{{ehFornecedor? 'Servicos prestados:' : ''}}</p>
        </div>

        <div class="col-md-6">
            <p>Contratar</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button routerLink="/cadastro">{{ehFornecedor? 'Editar cadastro' : 'Cadastrar como confeteira(o)'}}</button>
        </div>
        <div class="col-md-3">
            <button routerLink="/cadastro">Procurar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button (click)="logout()">Sair</button>
        </div>
    </div>
<br>
    <div class="row">
        <div class="column-md-9">
            <table *ngIf="ehFornecedor">

                <thead>
                    Servicos realizados
                </thead>
                <tbody>
                   
                        <tr *ngIf="dadosFornecedor?.doces?.beijinho">beijinho</tr>
                        <tr *ngIf="dadosFornecedor?.doces?.brigadeiro">brigadeiro</tr>
                        <tr *ngIf="dadosFornecedor?.doces?.cajuzinho">cajuzinho</tr>
                    
                    
                </tbody>
            </table>
        </div>
    </div>

</div>
