<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/assets/css/page_one.css"/>
    <title>page_one</title>
</head>
<body>
    <header> 
       <div> 
           <h1> Sua festa descomplicada, no dia e hora marcado em um match perfeito!</h1>
                </div>
    </header>
  
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>Servicos prestados:</p>
        </div>

        <div class="col-md-6">
            <p>Contratar</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button routerLink="/cadastro">Editar cadastro</button>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-3">
            <button (click)="logout()">Sair</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="column-md-9" *ngIf="ehFornecedor">
            <table>

                <thead>
                    Doces
                </thead>
                <br>
                <tbody>
                    <tr *ngIf="dadosFornecedor?.doces?.beijinho">beijinho</tr>
                    <tr *ngIf="dadosFornecedor?.doces?.brigadeiro">brigadeiro</tr>
                    <tr *ngIf="dadosFornecedor?.doces?.cajuzinho">cajuzinho</tr>
                </tbody>
            </table>
            <br>
            <table>
                <thead>
                    Massas
                </thead>
                <br>
                <tbody>
                    <tr *ngIf="dadosFornecedor?.massas?.baunilha">Baunilha</tr>
                    <tr *ngIf="dadosFornecedor?.massas?.brigadeiro">Brigadeiro</tr>
                    <tr *ngIf="dadosFornecedor?.massas?.chocolate">Chocolate</tr>
                    <tr *ngIf="dadosFornecedor?.massas?.prestigio">Prestígio</tr>
                </tbody>
            </table>
            <br>
            <table>
                <thead>
                    Recheios
                </thead>
                <br>
                <tbody>
                    <tr *ngIf="dadosFornecedor?.recheios?.musseMaracuja">Musse de Maracujá</tr>
                    <tr *ngIf="dadosFornecedor?.recheios?.musseMorango">Musse de Morango</tr>
                </tbody>
            </table>

            <table>
                <thead>
                    Temas
                </thead>
                <br>
                <tbody>
                    <tr *ngIf="dadosFornecedor?.temas?.animais">Animais</tr>
                    <tr *ngIf="dadosFornecedor?.temas?.carros">Carros</tr>
                    <tr *ngIf="dadosFornecedor?.temas?.dinossauros">Dinossauros</tr>
                    <tr *ngIf="dadosFornecedor?.temas?.princesas">Princesas</tr>
                    <tr *ngIf="dadosFornecedor?.temas?.superHerois">Super-Herois</tr>
                    <tr *ngIf="dadosFornecedor?.temas?.times">Times</tr>
                </tbody>
            </table>

        </div>
    </div>

         
    <div> 
        <div class="photos"> 
          <img class="photo-one" src="assets/images/photo1.jpg">
          <img class="photo-two" src="assets/images/photo2.jpg">
          <img class="photo-three" src="assets/images/photo3.png">
        </div>
     </div>
    
</div>
